

/* layout */
.float-container {
  border: 3px solid #fff;
  padding: 20px;
  
}



/* page 1 title */
#page-1 {
  text-align: center;
}

#page-1-title h1 {
  font-size: 60px;
}


#page-1-title h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: var(--DARK_GREY);
}

#page-1-title h3 {
  font-size: 20px;
  color: var(--DARK_GREY);
}


/* page 2 blackhat viz*/
#page-2 {
   
   text-align: center;
   float: left;
   width: 50%;
}

#blackhat {
   padding: 50px 50px;
}

/* page 3 whitehat viz*/
#page-3 {
   
   text-align: center;
   float: left;
   width: 50%;
}

#whitehat {
   padding: 50px 50px;
}

#description {
  text-align: left;
  padding-right; 20px
}

